<div class="grid-container">
    <div class="main-headers">
        <Input
            aria-label="Master checkbox"
            class="master-checkbox-class"
            disabled={{false}}
            id="master-checkbox"
            @checked={{this.masterCheckboxValue}}
            @type="checkbox"
            {{on "input" this.toggleAction}}
        />
        <div class="selected-files-class">
            {{#if (eq this.totalSelected 0)}}
                None selected
            {{else}}
                Selected {{this.totalSelected}}
            {{/if}}
        </div>
        <div class="download-button-div">
            <button
                class="download-button"
                disabled={{if (eq this.totalSelected 0) "disabled"}}
                type="button"
                {{on "click" this.downloadAlert}}
            >
                <img
                    alt="Download arrow button"
                    class={{if (eq this.totalSelected 0) "disabled"}}
                    height="25"
                    width="25"
                    src="/assets/images/download_arrow.png"   
                >
                <span>Download Selected</span>
            </button>
        </div>
    </div>
    <div class="table-headers">
        <div class="name">Name</div>
        <div class="device">Device</div>
        <div class="path">Path</div>
        <div class="status">Status</div>
    </div>
    {{#each this.files as |file|}}
        <div class={{concat 
                "flex-container" 
                (if (eq file.status "available") " selectable-row")
                (if file.selected " selected-row")
            }}
            role="button"
            {{on "click" (fn this.updateFileCount file)}}
        >
            <Input
                aria-label="File checkbox"
                disabled={{if (eq file.status "available") false true}}
                @checked={{file.value}}
                @type="checkbox"
            />
            <div>{{file.name}}</div>
            <div>{{file.device}}</div>
            <div>{{file.path}}</div>
            <div class="{{if (eq file.status "available") "file-status-img" "file-status-data"}}">
                {{#if (eq file.status "available")}}
                    <img
                        alt="Green available dot"
                        height="15"
                        width="15"
                        src="/assets/images/available_green_dot.png"   
                    >
                {{/if}}
                <span class="file-status-span">{{file.status}}</span>
            </div>
        </div>
    {{/each}}
</div>